.menu {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 75vh;

}

.menuico {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width:15vw;
  height: 25vh;
}

.menuico h1{
  font-size: 40pt;
}

.menuico:target,
.menuico:focus, 
.menuico:active {
  background-color: #fff;
  border: 3px solid #FF3700;
  border-right: 0;
  /* border-radius: 10px; */
}

.btn_deactive {
  background-color: #fff;
  border-right: 3px solid #FF3700;
}

.btn_active {
  background-color: white;
  border: 3px solid #FF3700;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  transition: color 0.15s ease, border-color 0.15s ease;
}

